﻿@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User)) //check if the current user is loged  in
{
<form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
    <ul class="nav navbar-nav">
        <li class="nav-link">Hello @User.Identity.Name</li>
        <li class="nav-link"><input type="submit" value="Log Off" class="btn btn-outline-secondary btn-sm" /></li>
    </ul>
</form>
}
else
{

<ul class="nav navbar-nav">
    <li>
        <a class="nav-link" id="registerLink" , asp-controller="Account" , asp-action="Login">Log in</a>
    </li>
    <li>
        <a class="nav-link" id="registerLink" , asp-controller="Account" , asp-action="Register">Register</a>
    </li>
</ul>
}