﻿@model Raise.Models.ViewModels.LoginViewModel

<h2>Sign in</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form id="account" method="post" asp-action="Login" asp-controller="Account">
                <h4>Use your registered email and password to log in</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-md-2" asp-for="Email"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2" asp-for="Password"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-check ">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" asp-for="RememberMe">Rememeber me ?</label>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 offset-md-2">
                        <input type="submit" value="Log in" class="btn btn-success" />
                    </div>
                </div>
                <p class="col-md-10 offset-md-2">
                    <a asp-action="Register">Register</a>
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}