﻿@model Raise.Models.ViewModels.AddMemberVIew

<form method="post" asp-action="AddMember" asp-controller="Team">
    <h3>Add a member to the project</h3>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Add member" class="btn btn-success" />
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
