﻿@model Raise.Models.Team
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <h2>Team</h2>
    <form method="post" asp-action="Create" asp-controller="Team">
        <h4>Create a new team</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="Name"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="ProjectDescription"></label>
            <div class="col-md-10">
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="LeaderName"></label>
            <div class="col-md-10">
                <input asp-for="LeaderName" class="form-control">
                <span asp-validation-for="LeaderName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-10 offset-md-2">
                <input type="submit" value="Create team" class="btn btn-success"/>
            </div>
        </div>

    </form>
}
else
{
    <h2>Team</h2>
    <h4>You need to be logged in to create or view your teams</h4>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}