﻿@model List<Raise.Models.Team>
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <h2>My teams</h2>
    <div class=" container" p-3>
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary>Your Todo list</h2>
            </div>
            <div class="col-6 m-2" >
                <a asp-area="" asp-controller="Team" asp-action="Create" class="btn btn-success">Create a new team</a>
            </div>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project details</th>
                    <th>Leader</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team team in Model)
                {
                    <tr>
                        <td width="30%">@team.Name</td>
                        <td width="30%">@team.ProjectDescription</td>
                        <td width="30%"> @team.LeaderName</td>
                        <td width="30%">
                            <div class="w-100 btn-group">
                                <a asp-area="" asp-controller="Team" asp-action="Manage" asp-route-id="@team.Id" class="btn btn-info mx-1">Manage</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        }
    }
    else
    {
        <h2>Teams</h2>
        <h4>You need to be logged in to see your teams or create a new one</h4>
}