﻿@model Raise.Models.ViewModels.ManageView
    <div class="d-flex justify-content-md-between">
        <div class="col-8">
            <h5>Project title: @Model._team.Name</h5>
            <p>Project description: @Model._team.ProjectDescription</p>
            <div class="row pt-4">
                <div class="col-6">
                    <p>Leader: @Model._team.LeaderName</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Members:</h5>
            <div class="col-6 w-100">
                @if (Model._team.LeaderName == User.Identity.Name)
                {
                <div class="w-100 btn-group">
                    <a asp-area="" asp-controller="Team" asp-action="AddMember" class="btn btn-success">Add a member</a>
                    <a asp-area="" asp-controller="Todo" asp-action="CreateShared" class="btn btn-secondary">Add Todo to a member</a> 
                </div>
                }
            </div>
            <div class="col-6">
                @if (Model._memberEmail.Count > 0)
                {
                    @if (Model._team.LeaderName == User.Identity.Name)
                    {

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="20%">Member</th>
                                    <th width="10%">Remove</th>
                                </tr>

                            <tbody>
                                @foreach (string email in Model._memberEmail)
                                {
                                    <tr>
                                        @if (email == User.Identity.Name)
                                        {
                                            <td width="20%">@email (you)</td>
                                        }
                                        else
                                        {
                                            <td width="20%">@email </td>
                                        }
                                        <td width="10%">
                                            <div class="w-100 btn-group">
                                                <a asp-area="" asp-controller="Team" asp-action="DeleteMember" asp-route-id="@email" class="btn btn-danger mx-1">Remove</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="20%">Member</th>
                                </tr>

                            <tbody>
                                @foreach (string email in Model._memberEmail)
                                {
                                    <tr>
                                        @if (email == User.Identity.Name)
                                        {
                                            <td width="20%">@email (you)</td>
                                        }
                                        else
                                        {
                                            <td width="20%">@email </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>