﻿@model Raise.Models.Todo
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <h2>Team</h2>
    <form method="post" asp-action="CreateShared" asp-controller="Todo">
        <h4>Add a Todo to a member</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="User"></label>
            <div class="col-md-10">
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="Title"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" asp-for="Details"></label>
            <div class="col-md-10">
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-10 offset-md-2">
                <input type="submit" value="Create Todo for a member" class="btn btn-success" />
            </div>
        </div>
    </form>
}
else
{
    <h2>Team</h2>
    <h4>You need to be logged in to create or view your Todos</h4>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}