﻿@model Raise.Models.ViewModels.TodoIndexView
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <h2>Todo list</h2>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm border-dark">
                    <h3>Personal Todo</h3>
                        <a asp-area="" asp-controller="Todo" asp-action="Create" class="btn btn-success">Add a todo</a>
                </div>
                <table class="table table-bordered table-striped m-2">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Details</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Todo todo in Model.personal)
                        {
                            <tr>
                                <td width="30%">@todo.Title</td>
                                <td width="30%">@todo.Details</td>
                                <td width="30%">
                                    <div class="w-100 btn-group">
                                        <a asp-area="" asp-controller="Todo" asp-action="Modify" asp-route-Id="@todo.Id" class="btn btn-info mx-1">Modify</a>
                                        <a asp-area="" asp-controller="Todo" asp-action="Finish" asp-route-Id="@todo.Id" class="btn btn-danger mx-1">Finish</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm border-dark m-3">
                <h3>Shared todo</h3>
                <table class="table table-bordered table-striped m-2">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Details</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Todo todo in Model.shared)
                        {
                        <tr>
                            <td width="30%">@todo.Title</td>
                            <td width="30%">@todo.Details</td>
                            <td width="30%">
                                <a asp-area="" asp-controller="Todo" asp-action="Finish" asp-route-Id="@todo.Id" class="btn btn-danger mx-1">Finish</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
}
else
{
    <h2>Todo list</h2>
    <h4>You need to be logged in to use the todo list</h4>
}