﻿@model Raise.Models.Todo

<form method="post" asp-action="Modify">
    <input asp-for="Id" hidden />
    <div class="form-group row">
        <h2 class="text-black-50 pl-3">Modify Todo</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Details"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <input asp-for="Title" class="form-control">
                </div>
                <div class="col-4">
                    <input asp-for="Details" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 text-center" row>
                    <div class="col">
                        <input type="submit" class="btn btn-success" value="Modify" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}