﻿@{
    ViewData["Title"] = "Raise";
}
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Raise</h1>
            <p class="lead text-muted">Raise is a web application which allows you and your team to skyrocket your productivity and achieve your goals in a record time</p>
            @if (!signInManager.IsSignedIn(User))
            {
                <p>
                    <a class="btn btn-primary my-2" asp-controller="Account" asp-action="Register">Register</a>
                    <a class="btn btn-secondary my-2" asp-controller="Account" asp-action="Login">Login</a>
                </p>
            }
            </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h3>Team management</h3>
                        <div class="card-body">
                            <p class="card-text">Build you team, invite members and achieve tasks together !</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h3>Agenda and Todo List</h3>
                        <div class="card-body">
                            <p class="card-text">Manage your agenda and Todo list to have a global view of your work</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h3>Statistics</h3>
                        <div class="card-body">
                            <p class="card-text">Get statistics on your work. See your evolution, improve your workflow !</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>